{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RExam{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'RExamMain/Bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'RExamMain/style.css' %}">
    <link rel="stylesheet" href="{% static 'RExamAccounts/style.css' %}">
    {% fontawesome_5_static %}
    {% block head %}{% endblock head %}
</head>
<body>
{% block body %}
    Контент отсутствует!
{% endblock body %}
<script src="{% static 'RExamMain/Bootstrap4/js/jquery-3.4.0.min.js' %}"></script>
<script src="{% static 'RExamMain/Bootstrap4/js/popper.min.js' %}"></script>
<script src="{% static 'RExamMain/Bootstrap4/js/bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>