{% extends 'RExamMain/DefaultView.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block head %}
    {% fontawesome_5_static %}
{% endblock head %}
{% block title %}
    RExam -> Профиль
{% endblock title %}
{% block body %}
    <div id="body">
        <div class="row">
            <div class="LeftBlock col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="header">Профиль пользователя</div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-user"></i></span>
                        </div>
                        <input class="form-control" value="{{ user.username }}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-envelope"></i></span>
                        </div>
                        <input class="form-control" value="{{ user.email }}" disabled>
                    </div>
                </div>
            </div>
            <div class="RightBlock col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="header">Основная информация</div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-users"></i></span>
                        </div>
                        <input class="form-control" value="{{ user.study_group }}" disabled>
                    </div>
                </div>
                <form action="{% url 'RExamAccounts:Profile' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.last_name.label }}</span>
                            </div>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.last_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.first_name.label }}</span>
                            </div>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.first_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.middle_name.label }}</span>
                            </div>
                            {{ form.middle_name }}
                            {% if form.middle_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.middle_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info float-right">Сохранить</button>
                </form>
            </div>
        </div>
        {{ error | safe  }} {{ success | safe }}
    </div>
{% endblock body %}
