    <div id="body">
        <script type="text/javascript">    $.getScript('https://google.com/recaptcha/api.js?hl=ru', function () {
            console.log('Recaptcha loaded');
        });</script>
        <form method="post" action="{% url 'RExamAccounts:Profile' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="header">Профиль пользователя:</div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.username.label }}</span>
                            </div>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.email.label }}</span>
                            </div>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="alert alert-danger">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="header">Личные данные:</div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.last_name.label }}</span>
                            </div>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.last_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.first_name.label }}</span>
                            </div>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.first_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.middle_name.label }}</span>
                            </div>
                            {{ form.middle_name }}
                            {% if form.middle_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.middle_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ form.study_group.label }}</span>
                            </div>
                            {{ form.study_group }}
                            {% if form.study_group.errors %}
                                <div class="alert alert-danger">
                                    {{ form.study_group.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            {{ form.captcha }}
                            {% if form.captcha.errors %}
                                <div class="alert alert-danger">
                                    Капча не пройдена!
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {{ error | safe }} {{ success | safe }}
            <button type="submit" class="btn btn-info">Сохранить</button>
        </form>
    </div>

