.menu {
    background: #0097a7;
    font-family: Roboto, sans-serif;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main {
    padding: 3%;
}

.content-block {
    margin-top: 1%;
    margin-bottom: 1%;

}

.content {
    font-family: Roboto, sans-serif;
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: .5rem 1rem;
}

.footer-content {
    background: #0097a7;
    font-family: Roboto, sans-serif;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    padding: .5rem 1rem;
}

.dropdown-toggle {
    cursor: pointer;
}

.news-footer{
    margin:0;
}

.news-footer p {
    margin-right:.5em;
}